%h1= I18n.t('activerecord.models.loan.other')
%table.table.loans_list
  %thead
    %tr
      - %w[title amount term period year_rate expiration_rate can_make_more_payments].each do |column|
        %th= I18n.t("activerecord.attributes.loan.#{column}")
  %tbody
    = render @loans
= paginate @loans

.divider-new.wow.fadeIn.mb-0
  %h2= I18n.t('profit.title.all')
.container
  %p
    = "#{I18n.t('profit.year_income_profit_real')}: #{number_to_percentage Loan.year_income_profit_real, precision: 0}"
  %p
    = "#{I18n.t('profit.year_income_profit_optimistic')}: #{number_to_percentage Loan.year_income_profit_optimistic, precision: 0}"

.container
  .row
    .col-lg-12
      .divider-new.wow.fadeIn.mb-0
        %h2= I18n.t('loan.new')
  = render partial: 'web/loans/form', locals: { loan: @loan }
